In [2]:
import pandas as pd
file = 'data.csv'
data = pd.read_csv(file)
data.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019-06-08,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0.0,...,2.0,0.0,0.0,8.0,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019-06-08,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0.0,...,0.0,2.0,0.0,5.0,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Tony Ferguson,Donald Cerrone,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Red,False,Lightweight,3,0.0,...,3.0,6.0,1.0,14.0,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Jimmie Rivera,Petr Yan,Kevin MacDonald,2019-06-08,"Chicago, Illinois, USA",Blue,False,Bantamweight,3,0.0,...,1.0,0.0,0.0,6.0,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019-06-08,"Chicago, Illinois, USA",Blue,False,Heavyweight,3,0.0,...,2.0,0.0,0.0,3.0,Southpaw,187.96,190.50,264.0,32.0,26.0

In [3]:
data.tail()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
5139,Gerard Gordeau,Kevin Rosier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,1.0,0.0,0.0,1.0,Orthodox,195.58,NaN,216.0,NaN,34.0
5140,Ken Shamrock,Patrick Smith,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,185.42,182.88,205.0,30.0,29.0
5141,Royce Gracie,Art Jimmerson,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Southpaw,185.42,NaN,175.0,30.0,26.0
5142,Kevin Rosier,Zane Frazier,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,193.04,NaN,275.0,NaN,NaN
5143,Gerard Gordeau,Teila Tuli,Joao Alberto Barreto,1993-11-12,"Denver, Colorado, USA",Red,False,Open Weight,1,0.0,...,0.0,0.0,0.0,0.0,Orthodox,195.58,NaN,216.0,24.0,34.0

In [5]:
print(data.columns)

Index(['R_fighter', 'B_fighter', 'Referee', 'date', 'location', 'Winner',
       'title_bout', 'weight_class', 'no_of_rounds', 'B_current_lose_streak',
       ...
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Stance', 'R_Height_cms',
       'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age'],
      dtype='object', length=145)

In [6]:
data.shape

(5144, 145)

In [7]:
print(data.iloc[3,:])

R_fighter                Jimmie Rivera
B_fighter                     Petr Yan
Referee                Kevin MacDonald
date                        2019-06-08
location        Chicago, Illinois, USA
                         ...
R_Height_cms                    162.56
R_Reach_cms                     172.72
R_Weight_lbs                       135
B_age                               26
R_age                               29
Name: 3, Length: 145, dtype: object

In [8]:
data.describe()

,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,B_avg_DISTANCE_landed,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
count,5144.000000,5144.000000,5144.000000,5144.0,3879.000000,3879.000000,3879.000000,3879.000000,3879.000000,3879.000000,...,5144.000000,5144.000000,5144.000000,5144.000000,5144.000000,5140.000000,4828.000000,5141.000000,4972.000000,5080.000000
mean,3.119362,0.429821,0.837286,0.0,8.689387,6.083457,8.240461,5.556352,53.156807,19.329445,...,1.177294,1.254860,0.777605,0.071345,3.598173,179.274089,183.664412,172.075861,29.171963,29.442323
std,0.631457,0.731325,1.306203,0.0,7.087703,5.074464,7.575422,5.429531,41.252426,15.961112,...,1.600135,1.801056,1.326056,0.277771,3.709519,8.638978,10.304375,35.164075,4.078538,4.141927
min,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,152.400000,152.400000,115.000000,18.000000,19.000000
25%,3.000000,0.000000,0.000000,0.0,3.500000,2.333333,3.000000,2.000000,22.000000,7.666667,...,0.000000,0.000000,0.000000,0.000000,1.000000,172.720000,177.800000,145.000000,26.000000,26.000000
50%,3.000000,0.000000,0.000000,0.0,7.000000,5.000000,6.333333,4.200000,44.666667,15.200000,...,1.000000,1.000000,0.000000,0.000000,2.000000,180.340000,182.880000,170.000000,29.000000,29.000000
75%,3.000000,1.000000,1.000000,0.0,12.225000,8.500000,11.422222,7.738636,74.333333,27.142857,...,2.000000,2.000000,1.000000,0.000000,5.000000,185.420000,190.500000,185.000000,32.000000,32.000000
max,5.000000,6.000000,13.000000,0.0,49.000000,39.000000,87.000000,68.000000,271.000000,130.000000,...,10.000000,11.000000,13.000000,2.000000,20.000000,210.820000,213.360000,345.000000,51.000000,47.000000

In [9]:
#From the information shown by running the code in  the previous cell, outliers exist as the maximum value
#is far greater than the mean.

In [11]:
data.dropna(subset=["B_avg_BODY_att"],axis = 0,inplace = True)

In [12]:
data.describe()

,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,B_avg_DISTANCE_landed,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
count,3879.000000,3879.000000,3879.000000,3879.0,3879.000000,3879.000000,3879.000000,3879.000000,3879.000000,3879.000000,...,3879.000000,3879.000000,3879.000000,3879.000000,3879.000000,3877.000000,3722.000000,3878.000000,3811.000000,3862.000000
mean,3.182779,0.569992,1.110338,0.0,8.689387,6.083457,8.240461,5.556352,53.156807,19.329445,...,1.393916,1.488012,0.912091,0.081980,4.246971,179.314042,183.808103,171.994585,29.617686,29.808648
std,0.655325,0.793337,1.399806,0.0,7.087703,5.074464,7.575422,5.429531,41.252426,15.961112,...,1.701264,1.922774,1.424661,0.296068,3.836236,8.612347,10.260450,34.593042,4.041970,4.145489
min,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,152.400000,152.400000,115.000000,20.000000,19.000000
25%,3.000000,0.000000,0.000000,0.0,3.500000,2.333333,3.000000,2.000000,22.000000,7.666667,...,0.000000,0.000000,0.000000,0.000000,1.000000,172.720000,177.800000,145.000000,27.000000,27.000000
50%,3.000000,0.000000,1.000000,0.0,7.000000,5.000000,6.333333,4.200000,44.666667,15.200000,...,1.000000,1.000000,0.000000,0.000000,3.000000,180.340000,185.420000,170.000000,29.000000,30.000000
75%,3.000000,1.000000,2.000000,0.0,12.225000,8.500000,11.422222,7.738636,74.333333,27.142857,...,2.000000,2.000000,1.000000,0.000000,6.000000,185.420000,190.500000,185.000000,32.000000,33.000000
max,5.000000,6.000000,13.000000,0.0,49.000000,39.000000,87.000000,68.000000,271.000000,130.000000,...,10.000000,11.000000,13.000000,2.000000,20.000000,210.820000,213.360000,345.000000,47.000000,46.000000

In [13]:
data.corr()

,title_bout,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
title_bout,1.000000,0.630912,-0.144340,0.321061,NaN,0.000053,0.011053,0.003567,0.008942,-0.012698,...,0.127719,0.185856,0.075533,0.052728,0.184762,0.014483,0.036241,0.072196,0.049238,0.023887
no_of_rounds,0.630912,1.000000,-0.108189,0.299312,NaN,0.092357,0.097889,0.049674,0.054784,0.098095,...,0.261758,0.333167,0.072455,0.031733,0.326580,0.022332,0.081568,0.033479,0.120071,0.100377
B_current_lose_streak,-0.144340,-0.108189,1.000000,-0.570047,NaN,-0.033947,-0.054500,-0.035952,-0.046870,0.002377,...,-0.106982,-0.089594,-0.064939,-0.036512,-0.123623,0.010988,-0.000100,0.011220,0.138744,0.001367
B_current_win_streak,0.321061,0.299312,-0.570047,1.000000,NaN,0.043528,0.054777,0.020520,0.027982,0.028907,...,0.236205,0.223530,0.128868,0.039145,0.280209,0.015147,0.050327,0.037925,-0.034184,0.075938
B_draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R_Height_cms,0.014483,0.022332,0.010988,0.015147,NaN,-0.239930,-0.199331,-0.075835,-0.070581,-0.246997,...,-0.112610,0.227776,0.073484,0.030434,0.080160,1.000000,0.894214,0.782822,0.175032,0.085362
R_Reach_cms,0.036241,0.081568,-0.000100,0.050327,NaN,-0.219427,-0.175354,-0.069876,-0.061327,-0.225601,...,-0.068492,0.250014,0.111486,0.065945,0.128956,0.894214,1.000000,0.759421,0.173856,0.079729
R_Weight_lbs,0.072196,0.033479,0.011220,0.037925,NaN,-0.267934,-0.217841,-0.081930,-0.072152,-0.293284,...,-0.122662,0.267161,-0.001794,0.059068,0.073421,0.782822,0.759421,1.000000,0.226533,0.198983
B_age,0.049238,0.120071,0.138744,-0.034184,NaN,-0.019985,-0.009495,0.027151,0.046787,-0.048074,...,0.096297,0.220549,0.050803,0.053302,0.187349,0.175032,0.173856,0.226533,1.000000,0.176673
R_age,0.023887,0.100377,0.001367,0.075938,NaN,0.057863,0.059016,0.033174,0.038462,0.062759,...,0.266193,0.366736,0.154048,0.134540,0.404086,0.085362,0.079729,0.198983,0.176673,1.000000

In [14]:
data.to_csv('data_ADEKOGBE_week2.csv')