In [414]:
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/nerdyphil/ML-Study-Group/master/Assignment/raw_fighter_details.csv')
#df = pd.read_csv(r'https://raw.githubusercontent.com/nerdyphil/ML-Study-Group/master/Assignment/raw_total_fight_data.csv', sep=';', engine='python')
top = df.head(5)
bottom = df.tail(5)
top

  fighter_name  Height    Weight Reach Stance  DOB
0   AJ Fonseca   5' 4"  145 lbs.   NaN    NaN  NaN
1  AJ Matthews  5' 11"  185 lbs.   NaN    NaN  NaN
2     AJ McKee  5' 10"  145 lbs.   NaN    NaN  NaN
3    AJ Siscoe   5' 7"  135 lbs.   NaN    NaN  NaN
4   Aalon Cruz   6' 0"  145 lbs.   NaN    NaN  NaN

In [415]:
bottom

          fighter_name  Height    Weight Reach    Stance           DOB
3308     Zelim Imadaev   6' 0"  170 lbs.   76"  Orthodox  Jan 25, 1995
3309      Zhang Lipeng  5' 11"  155 lbs.   71"  Southpaw  Mar 10, 1990
3310     Zoila Frausto   5' 4"  135 lbs.   NaN  Orthodox           NaN
3311        Zu Anyanwu   6' 1"  251 lbs.   77"  Orthodox  Aug 05, 1981
3312  Zubaira Tukhugov   5' 8"  145 lbs.   68"  Orthodox  Jan 15, 1991

In [416]:
print("".join(i+"\n" for i in df.columns.values))

fighter_name
Height
Weight
Reach
Stance
DOB

In [417]:
print(df.shape)

(3313, 6)

In [418]:
index_4 = df.loc[3,:]
index_4

fighter_name    AJ Siscoe
Height              5' 7"
Weight           135 lbs.
Reach                 NaN
Stance                NaN
DOB                   NaN
Name: 3, dtype: object

In [419]:
df.describe()

           fighter_name Height    Weight Reach    Stance           DOB
count              3313   3050      3238  1569      2439          2573
unique             3313     27       108    25         5          2217
top     Yokthai Sithoar  6' 0"  170 lbs.   72"  Orthodox  Aug 08, 1988
freq                  1    389       522   159      1913             4

In [420]:
df.fillna(0)

          fighter_name  Height    Weight Reach    Stance           DOB
0           AJ Fonseca   5' 4"  145 lbs.     0         0             0
1          AJ Matthews  5' 11"  185 lbs.     0         0             0
2             AJ McKee  5' 10"  145 lbs.     0         0             0
3            AJ Siscoe   5' 7"  135 lbs.     0         0             0
4           Aalon Cruz   6' 0"  145 lbs.     0         0             0
...                ...     ...       ...   ...       ...           ...
3308     Zelim Imadaev   6' 0"  170 lbs.   76"  Orthodox  Jan 25, 1995
3309      Zhang Lipeng  5' 11"  155 lbs.   71"  Southpaw  Mar 10, 1990
3310     Zoila Frausto   5' 4"  135 lbs.     0  Orthodox             0
3311        Zu Anyanwu   6' 1"  251 lbs.   77"  Orthodox  Aug 05, 1981
3312  Zubaira Tukhugov   5' 8"  145 lbs.   68"  Orthodox  Jan 15, 1991

[3313 rows x 6 columns]

In [421]:
df.corr(method ='pearson')

Empty DataFrame
Columns: []
Index: []

In [0]:
df.to_csv(r'../processed_data_week2.ipynb')